.App {
  text-align: center;
}
.main_head{
  width:1905px;
}
.main-container{
  background-color: white;
  color: black;
  border: 1px soli black;
  display: flex;
  justify-content: space-between;
}
.nav_btn{
  background-color: rgb(28, 144, 240);
}
.questions_container{
  min-height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding:5px;
}
.question-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height:100%;
  
}
.ask-question-button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:60% ;
}
.search-container{
  width:60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-input{
  width: 70%;
}
.bi-search{
  width:30px;
  height:85%;
  padding: .5%;
  background-color: rgb(201, 202, 202);
}
.left-side{
  width: 50%;
  margin-left: 5%;
  height:100%;
}
.right-side{
  width: 40%;
  background-color: rgb(255, 242, 200);
  height:600px;
  margin-left: 5%;
  position: sticky;
  top:5%;
  display: flex;
  flex-direction: column;
}
.right-side-top{
  width:100%;
  display: flex;
  flex-direction: row;
}
.right-side-1{
  width:70%;
}
.right-side-2{
  margin-top: 50px;
}
#rightside-content{
  text-align: justify;
  padding:0px 3%;
}
.all_questions{
  width:100%;
  padding:0px 10px;
  height:100%;
}
.questions{
  border: 1 px solid black;
  margin:5%;
}
.question_head{
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
  text-decoration: underline;
}
.question_date{
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
}
.user_questions{
  display: flex;
  justify-content: flex-start;
  margin-left: 9%;
}
.ans_head{
  display: flex;
  justify-content: flex-start;
  margin-left: 8%;
}
.answer_container{
  width:80%;
  margin-left: 10%;
  border: 1px solid #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2%;
}
#hide{
  display: none;
}
.answer-paper{
  padding:1%;
}
.answer_div{
  width:80%;
}
.answers{
  display: flex;
  justify-content: flex-start;
  margin-left: 15%;
}
#logo{
  margin-top: 5px;
  width:50%;
}
.answer_form{
  width:70vw;
  display: flex;
  margin-left: 15vw;
  margin-top: 10vh;
  border-radius: 10px;
  background-color: whitesmoke;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 5px 5px black;
}
.question_form{
  width: 70vw;
  margin-left: 15vw;
  margin-top: 10vh;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 5px 5px black;
}
.login_page{
  width: 50%;
  margin-left: 25%;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 5px 5px black;
}